* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: #333;
    color: white;
}

.left-icons {
    display: flex;
    align-items: center;
}

.profile-image,
.about-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.exit-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

main {
    text-align: center;
}

.center-content {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40vh; /* Adjust the percentage to center vertically */
    transform: translateY(-50%);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
}
