* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(bg.JPG) no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-container {
  text-align: center;
  color: #fff;
}

.welcome-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.buttons-container {
  margin-top: 20px;
}

.signin-button{
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  background: transparent;
  transition: background 0.3s, color 0.3s;
}
.signup-button {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #fff;
  border-radius: 40px;
  color: #fff;
  background: transparent;
  transition: background 0.3s, color 0.3s;
}

.signin-button:hover{
  background: #fff;
  color: #333;}
.signup-button:hover {
  background: #fff;
  color: #333;
}
