* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(bg.JPG) no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.fail-container {
    text-align: center;
}

.fail-container h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.fail-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.fail-container a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background: transparent;
    box-shadow: 0 0 0 2px #fff;
    transition: background 0.3s, color 0.3s;
}

.fail-container a:hover {
    background: #fff;
    color: #333;
}
