* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(bg.JPG) no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff; /* Set default text color to white */
}

.signup-container {
  width: 100%;
  max-width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}

.signup-container h2 {
  font-size: 36px;
  text-align: center;
}

.signup-container .role-buttons {
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.signup-container label {
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
}

.signup-container select,
.signup-container input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  margin-bottom: 15px;
}

.signup-container input::placeholder {
  color: #fff;
}

.signup-container button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
