body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color: white; /* warna tulisan putih */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: white; /* warna tulisan putih */
}

#user-profile {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7); /* lapisan transparan hitam */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 10px 0;
    color: white; /* warna tulisan putih */
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
